/* ------------------- GOOGLE FONT --------------- */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;700&display=swap');
/* font-family: 'Mukta', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
/*     font-family: 'Pushster', cursive; */


body {
    margin: 0;
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
    color: black;
}

header {
    height: 100vh;
    background: rgb(205,242,202);
background: linear-gradient(0deg, rgba(205,242,202,1) 0%, rgba(153,254,255,1) 73%);
}
header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin-bottom: 50px;
}

ul{
    list-style-type: none;
    display: flex;
}
ul li a{
    text-decoration: none;
    color: #FFF;
    margin-left: 10px;
    font-weight: 500;
    transition: all .5s ;
    background-color: #0073ce;
    padding: 3px 15px;
    border-radius: 30px;
}
ul li a:hover {
    background-color: #FFF;
    color: #0073ce;
    font-weight: 500;
}

h2,p{
    margin: 0;
}

form input {
    border: none ;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 10px;
    outline: none;
}


form textarea{
    margin-top: 30px;
    border: none;
    background-color: #0071ce4f;
    padding: 10px;
    border-radius: 10px;
    resize: none;
    font-weight: 900;
    color: black;
    outline: none;
}

#presentation {
    display: flex;
    height: calc( 100vh - 79px);
    align-items: center;
}

#contact a{
    display: inline-block;
    text-decoration: none;
    color: #0073ce;
    border: 1px solid #0073ce;
    padding: 7px;
    margin-top: 10px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
#contact a:hover{
    color: white;
    border: 1px solid white;
    background-color: #0073ce;
    margin-top: 10px;
}

#creations {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}

#flexFoot {
    padding-top: 15px;
    border-top:1px solid black;
    text-align: center;
    background-color: #0073ce;
}
#flexFoot span {
    font-weight: 700;
}

#formulaire {
    display: flex;
    flex-direction: column;
}

#topForm {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#inputForm {
    margin-bottom: 10px;
    color: black;
}


.container {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.logo {
    font-weight: 500;
    color :#0073ce;
    font-size: 3rem;
    font-family: 'Pushster', cursive;
    position: relative;
}

.logo::after{
    content : "";
    position : absolute;
    width: 4px;
    margin-left: 10px;
    height: 50px;
    background-color: #FFF;
}

.leftPresentation {
    width: 80%;
}
.leftPresentation p {
    margin: 0;
}
.leftPresentation .title {
    font-weight: 700;
    font-size: 3em;
}

.rightPresentation {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.rightPresentation img{
    width: 80%;     
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 0;
}

.grid a{
    text-align: left;
    transition: all .4s;
    text-decoration: none;
    font-size: 1.2em;
    text-shadow: 0 0 15px black;
}
.grid a:hover{
    opacity: 0.7;
    transition: all .4s;
}


.projet{
    background-color: black;
    padding: 30px 25px;
    border-radius: 10px;
    color: white;
}

.projet1{
    background: center url(../images/projet_tarte_choco.png);
    background-size: cover;
}

.projet2{
    background: center url(../images/mega-pop.jpg);
    background-size: cover;
}

.projet3{
    background: center url(../images/pac-man.jpg);
    background-size: cover;
}

.projet4{
    background: center url(../images/rodeo-pump.jpg);
    background-size: cover;
}

.formFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 50px;
    background-color: #ffffff9f;
    border-radius: 0 40px 0 40px;
    width: 70%;
    margin-bottom: 20px;
    position: relative;
}

.card::before {
    font-family: "FontAwesome";
    content : "\f46d";
    font-size: 5rem;
    color: #0073ce;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
}


.card span{
    font-weight: bolder;
    letter-spacing: 6px;
    font-size: 2em;
    display: inline-block;
    width: 100%;
    text-align: center;
    color:#0073ce;
}


.envoyer {
    color: white;
    border:none;
    background-color: #0073ce;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 1.2em;
    cursor: pointer;
    transition: all .3s;
}
.envoyer:hover{
    background-color: white;
    color: #0073ce;
    transition: all .3s;
}

@media screen and (max-width: 1050px) {
  .container {
      width: 800px;
  }
  }

  @media screen and (max-width: 850px) {
    .container {
        width: 600px;
    }

    .leftPresentation .title {
        font-weight: 700;
        font-size: 2em;
    }

    .grid{
        margin: 50px 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(70px, auto);
        gap: 20px;
        width: 80%;
        margin: 20px auto;
        
    }
    
    }

    @media screen and (max-width: 850px) {
        .rightPresentation {
            display: none;
        }

        .container {
            width: 90%;
        }

        header nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        header {
            height: 100%;
        }

        #presentation {
            height: 100%;
            padding: 20px;
        }
    }

    @media screen and (max-width: 680px) {
        .card {
            padding: 50px;
            background-color: #ffffff9f;
            border-radius: 0 40px 0 40px;
            width: 70%;
            margin-bottom: 20px;
            position: relative;
        }
        .card span{
            font-weight: bolder;
            letter-spacing: 6px;
            font-size: 2em;
            display: inline-block;
            width: 100%;
            text-align: center;
            color:#0073ce;
        }


        #formulaire {
            display: flex;
            flex-direction: column;
        }
        
        #topForm {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }
        
        #inputForm {
            margin: 15px;
            color: black;
            width: 100%;
        }
        
    }

    @media screen and (max-width : 500px) {
        .leftPresentation .title {
            font-weight: 700;
            font-size: 1em;
        }

        header nav ul {
            width: 100%;
            padding: 0;
            justify-content: center;
        }
    
    }